<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="ensenso_optical_x" value="0"/>
  <xacro:property name="ensenso_optical_y" value="0.0909"/>
  <xacro:property name="ensenso_optical_z" value="0.1255"/>

  <xacro:property name="keyence_optical_x" value="0"/>
  <xacro:property name="keyence_optical_y" value="0.216"/> <!--To the face of the sensor: y = 0.216-->
  <xacro:property name="keyence_optical_z" value="0.12192"/>

  <xacro:property name="keyence_tcp_x" value="0.0006"/>
  <xacro:property name="keyence_tcp_y" value="0.2863"/>
  <xacro:property name="keyence_tcp_z" value="0.0968"/>

  <xacro:property name="kinect_mount_x" value="0.09"/>
  <xacro:property name="kinect_mount_y" value="-0.065"/>
  <xacro:property name="kinect_mount_z" value="0.15"/>

  <xacro:property name="blend_tcp_x" value="0"/>
  <xacro:property name="blend_tcp_y" value="0"/>
  <xacro:property name="blend_tcp_z" value="0.040"/> <!-- TBD -->

  <xacro:property name="chuck_tcp_x" value="-0.2507"/>
  <xacro:property name="chuck_tcp_y" value="-0.0035"/>
  <xacro:property name="chuck_tcp_z" value="0.1228"/>


  <xacro:property name="half_pi" value="1.5707963267948966"/>


  <xacro:macro name="blending_eff_definition" params="prefix">
    <!-- eff_frame is Base Link -->
    <link name="${prefix}eff_frame"/>

    <link name="${prefix}adapter_tube">
      <visual>
        <geometry>
          <mesh filename="package://blending_end_effector/meshes/visual/Adapter_Tube.STL"/>
        </geometry>
        <material name="grey">
          <color rgba="0.5 0.5 0.5 1.0"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://blending_end_effector/meshes/collision/adapter_tube_convex_hull.STL"/>
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}eff_frame_to_adapter_tube" type="fixed">
        <parent link="${prefix}eff_frame"/>
        <child link="${prefix}adapter_tube"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="${prefix}bracket">
      <visual>
        <geometry>
          <mesh filename="package://blending_end_effector/meshes/visual/Tool_Mounting_Plate.STL"/>
        </geometry>
        <material name="grey">
          <color rgba="0.5 0.5 0.5 1.0"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://blending_end_effector/meshes/collision/EE_and_Tool_Changer_convex_hull.STL"/>
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}adapter_tube_to_bracket" type="fixed">
      <parent link="${prefix}adapter_tube"/>
      <child link="${prefix}bracket"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="${prefix}blending_tool">
        <visual>
            <origin xyz="0 0 0.1" rpy="0 0 0"/>
            <geometry>
                <!--mesh filename="package://blending_end_effector/meshes/visual/Blending_Tool.STL"/-->
                <cylinder length="0.2" radius="0.01"/>
            </geometry>
            <material name="red">
                <color rgba="1 0 0 1"/>
            </material>
        </visual>
    </link>

    <joint name="${prefix}bracket_to_blending_tool" type="fixed">
        <parent link="${prefix}bracket"/>
        <child link="${prefix}blending_tool"/>
    </joint>

    <joint name="${prefix}chuck_to_blend_tcp_frame" type="fixed">
        <parent link="${prefix}blending_tool"/>
        <child link="${prefix}tcp_frame"/>
        <origin xyz="0 0 0.2" rpy="0 0 0"/>
    </joint>

    <link name="${prefix}ensenso">
        <visual>
            <geometry>
                <mesh filename="package://blending_end_effector/meshes/visual/Ensenso.STL"/>
            </geometry>
            <material name="blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
    </link>

    <joint name="${prefix}bracket_to_ensenso" type="fixed">
        <parent link="${prefix}bracket"/>
        <child link="${prefix}ensenso"/>
    </joint>

    <link name="${prefix}keyence">
        <visual>
            <geometry>
                <mesh filename="package://blending_end_effector/meshes/visual/Laser_Sensor.STL"/>
            </geometry>
            <material name="yellow">
                <color rgba="1 1 0 1"/>
            </material>
        </visual>
    </link>

    <joint name="${prefix}bracket_to_keyence" type="fixed">
        <parent link="${prefix}bracket"/>
        <child link="${prefix}keyence"/>
    </joint>

    <!-- Frames for the motorized spindle on the end-->
    <link name="${prefix}chuck_tip_frame"/> <!--The tip of the chuck-->
    <link name="${prefix}tcp_frame"/> <!--The actual 'useful' work frame-->

    <joint name="${prefix}bracket_to_chuck" type="fixed">
        <parent link="${prefix}bracket"/>
        <child link="${prefix}chuck_tip_frame"/>
        <origin xyz="${chuck_tcp_x} ${chuck_tcp_y} ${chuck_tcp_z}" rpy="0 -${half_pi} 0"/>
    </joint>

    <!--joint name="${prefix}chuck_to_blend_tcp_frame" type="fixed">
        <parent link="${prefix}chuck_tip_frame"/>
        <child link="${prefix}tcp_frame"/>
        <origin xyz="${blend_tcp_x} ${blend_tcp_y} ${blend_tcp_z}" rpy="0 0 0"/>
    </joint-->

    <!--Frames for the keyence profilometer-->
    <link name="${prefix}keyence_sensor_optical_frame"/>  <!--The emitter lens-->
    <link name="${prefix}keyence_tcp_frame"/> <!--The nominal scan location (8cm forward of emitter)-->

    <joint name="${prefix}bracket_to_keyence_sof" type="fixed">
        <parent link="${prefix}bracket"/>
        <child link="${prefix}keyence_sensor_optical_frame"/>
        <origin xyz="${keyence_tcp_x} ${keyence_tcp_y} ${keyence_tcp_z}" rpy="${half_pi} ${half_pi} 0 "/>
    </joint>

    <joint name="${prefix}bracket_to_keyence_tcp_f" type="fixed">
        <parent link="${prefix}bracket"/>
        <child link="${prefix}keyence_tcp_frame"/>
        <origin xyz="${keyence_tcp_x} ${keyence_tcp_y} ${keyence_tcp_z}" rpy="-${half_pi} ${half_pi} 0"/>
    </joint>

    <!--Frames related to the motion of the camera-->
    <link name="${prefix}ensenso_sensor_optical_frame">
    <inertial>
      <mass value="0.001" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.0001" ixy="0.0" ixz="0.0"
               iyy="0.0001" iyz="0.0"
               izz="0.0001" />
    </inertial>
    </link>
    <link name="${prefix}kinect2_move_frame">
    <inertial>
      <mass value="0.001" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.0001" ixy="0.0" ixz="0.0"
               iyy="0.0001" iyz="0.0"
               izz="0.0001" />
    </inertial>
    </link>
    <link name="${prefix}ensenso_depth_optical_frame">
        <inertial>
          <mass value="0.001" />
          <origin xyz="0 0 0" />
          <inertia ixx="0.0001" ixy="0.0" ixz="0.0"
                   iyy="0.0001" iyz="0.0"
                   izz="0.0001" />
        </inertial>
    </link>
    <joint name="${prefix}ensenso_optical_joint" type="fixed">
        <parent link="${prefix}ensenso_sensor_optical_frame"/>
        <child link="${prefix}ensenso_depth_optical_frame"/>
        <origin xyz="0 0 0" rpy="0 0 -3.142"/>
    </joint>

    <link name="${prefix}ensenso_frame">
        <inertial>
          <mass value="0.001" />
          <origin xyz="0 0 0" />
          <inertia ixx="0.0001" ixy="0.0" ixz="0.0"
                   iyy="0.0001" iyz="0.0"
                   izz="0.0001" />
        </inertial>
    </link>
    <joint name="${prefix}ensenso_joint" type="fixed">
        <parent link="${prefix}ensenso_depth_optical_frame"/>
        <child link="${prefix}ensenso_frame"/>
        <origin xyz="0 0 0" rpy="1.57 -1.57 0"/>
    </joint>

    <joint name="${prefix}bracket_to_ensenso_sof" type="fixed">
        <parent link="${prefix}bracket"/>
        <child link="${prefix}ensenso_sensor_optical_frame"/>
        <origin xyz="${ensenso_optical_x} ${ensenso_optical_y} ${ensenso_optical_z}" rpy="0 0 0"/>
    </joint>

    <joint name="${prefix}ensenso_move_frame_join" type="fixed">
      <parent link="${prefix}ensenso_sensor_optical_frame"/>
      <child link="${prefix}kinect2_move_frame"/>
      <origin rpy="0 -${half_pi} 0"/>
    </joint>

    <gazebo reference="ensenso_frame">
      <sensor type="depth" name="ensenso">
        <always_on>true</always_on>
        <update_rate>20.0</update_rate>
        <camera>
          <horizontal_fov>${60.0*3.142/180.0}</horizontal_fov>
          <image>
            <format>B8G8R8</format>
            <width>640</width>
            <height>480</height>
          </image>
          <clip>
            <near>0.001</near>
            <far>8.0</far>
          </clip>
        </camera>
        <plugin name="kinect_camera_controller" filename="libgazebo_ros_openni_kinect.so">
          <cameraName>ensenso</cameraName>
          <alwaysOn>true</alwaysOn>
          <updateRate>10</updateRate>
          <imageTopicName>rgb/image_raw</imageTopicName>
          <depthImageTopicName>depth/image_raw</depthImageTopicName>
          <pointCloudTopicName>depth/points</pointCloudTopicName>
          <cameraInfoTopicName>rgb/camera_info</cameraInfoTopicName>
          <depthImageCameraInfoTopicName>depth/camera_info</depthImageCameraInfoTopicName>
          <frameName>ensenso_depth_optical_frame</frameName>
          <baseline>0.1</baseline>
          <distortion_k1>0.0</distortion_k1>
          <distortion_k2>0.0</distortion_k2>
          <distortion_k3>0.0</distortion_k3>
          <distortion_t1>0.0</distortion_t1>
          <distortion_t2>0.0</distortion_t2>
          <pointCloudCutoff>0.1</pointCloudCutoff>
        </plugin>
      </sensor>
    </gazebo>

  </xacro:macro>
</robot>
